.about-company__container {
  width: 1302px;
  max-width: 100%;
  min-height: 350px;
  padding-left: 290px;
  padding-bottom: 117px;
  background-repeat: no-repeat;
  background-position: 3.5% top;
  background-image: url("/img/about-company-background@1x.png");

  @include vp-1439 {
    background-position: left top;
  }

  @include vp-1023 {
    width: 100%;
    padding-left: 29.25%;
    padding-right: 50px;
    padding-bottom: 80px;
    background-position: 7.5% top;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
    background-image: none;
  }
}

.about-company__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;

  @include vp-1023 {
    margin-top: -4px;
  }

  @include vp-767 {
    margin-top: 0;
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company p {
  margin: 0;
  margin-bottom: 20px;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;

  @include vp-1023 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__text {
  @include vp-767 {
    display: none;
  }
}

.about-company__button-more {
  width: 180px;
  justify-content: center;
  margin-top: 20px;
  padding: 14px 12px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: $color-default-white;
  color: $color-deep-sky-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    width: 160px;
    padding: 10px 15px;
  }
}
