.benefits__container {
  width: 1242px;
  max-width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  @include vp-767 {
    grid-template-columns: auto;
  }
}

.benefits__item {
  min-height: 300px;
  padding: 95px 40px 35px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  background-position: 37px 40px;
  background-repeat: no-repeat;

  @include vp-1023 {
    min-height: 360px;
    padding: 91px 40px 29px;
  }

  @include vp-767 {
    min-height: 340px;
    padding: 72px 25px 10px;
    background-position: 23px 27px;
  }

  @include hover {
    background-color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;
  }

  &--operational-terms {
    background-image: url("../img/svg/stopwatch-icon.svg");

    @include hover {
      background-image: url("../img/svg/stopwatch-icon-hover.svg");
    }
  }

  &--major-suppliers {
    background-image: url("../img/svg/hired-icon.svg");

    @include hover {
      background-image: url("../img/svg/hired-icon-hover.svg");
    }
  }

  &--confidentiality {
    padding: 100px 40px 29px;
    background-image: url("../img/svg/detective-icon.svg");

    @include vp-1023 {
      padding: 92px 40px 29px;
    }

    @include vp-767 {
      min-height: 325px;
      padding: 79px 24px 29px;
    }

    @include hover {
      background-image: url("../img/svg/detective-icon-hover.svg");
    }
  }

  &--value-personalization {
    padding: 100px 40px 29px;
    background-image: url("../img/svg/tag-icon.svg");

    @include vp-1023 {
      padding: 92px 40px 29px;
    }

    @include vp-767 {
      min-height: 325px;
      padding: 79px 24px 29px;
    }

    @include hover {
      background-image: url("../img/svg/tag-icon-hover.svg");
    }
  }
}

.benefits__item:hover .benefits__benefit-title,
.benefits__item:hover .benefits__benefit-description {
  color: $color-alice-blue;
}

.benefits__benefit-title {
  margin: 0;
  margin-bottom: 12px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.benefits__item--confidentiality .benefits__benefit-title,
.benefits__item--value-personalization .benefits__benefit-title {
  margin-top: -5px;

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 1px;
  }
}

.benefits__item--confidentiality .benefits__benefit-title {
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.benefits__item--value-personalization .benefits__benefit-title {
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.benefits__benefit-description {
  margin: 0;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
