.main-header {
  position: fixed;
  left: 0;
  right: 0;
  background-image: $header-background;
  z-index: 1;

  @include vp-1023 {
    position: static;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  width: 1242px;
  max-width: 100%;
  min-height: 120px;
  padding-right: 3.7%;

  @include vp-1023 {
    width: 100%;
    min-height: 100px;
    padding-right: 50px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-right: 25px;
  }
}

.main-header__logo {
  align-self: start;
  margin-top: 29px;
  margin-bottom: 35px;
  margin-right: 13.75%;

  @include vp-1279 {
    margin-right: auto;
  }

  @include vp-1023 {
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-top: 11px;
    margin-bottom: 20px;
  }
}

.main-header__logo-link {
  width: 215px;

  @include vp-767 {
    width: 35px;
  }
}

.main-header__logo-img {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.main-header__navigation {
  max-width: 480px;
  margin-top: 42px;
  margin-bottom: 55px;
  margin-right: auto;

  @include vp-1023 {
    width: 15%;
    margin-top: 11px;
    margin-bottom: 40px;
    margin-right: 3%;
  }

  @include vp-767 {
    width: 37%;
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 4%;
  }
}

.main-header__modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  min-width: 160px;
  width: 160px;
  min-height: 40px;
  margin-top: 33px;
  margin-bottom: 45px;
  padding: 10px 15px;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
