.main-header {
  position: fixed;
  left: 0;
  right: 0;
  background-image: $header-background;

  @media (max-width: ($vp-1024 - 1px)) {
    position: static;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  width: $desktop-container-width;
  min-width: desktop-container-min-width;
  min-height: 120px;

  @media (max-width: ($vp-1024 - 1px)) {
    width: 100%;
    min-width: auto;
    min-height: 100px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 100%;
    min-width: auto;
    min-height: 70px;
  }
}

.main-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-right: 13.8%;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: auto;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.main-header__logo-link {
  width: 215px;

  @media (max-width: ($vp-768 - 1px)) {
    width: 35px;
  }
}

.main-header__logo-img {
  @media (max-width: ($vp-768 - 1px)) {
    width: 35px;
    height: 35px;
  }
}

.main-header__navigation {
  width: 41.4%;
  margin-top: 45px;
  margin-bottom: 55px;
  margin-right: auto;

  @media (max-width: ($vp-1024 - 1px)) {
    width: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 3%;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 37%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 4%;
  }
}

.main-header__modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  width: 160px;
  min-height: 40px;
  margin-top: 35px;
  margin-bottom: 45px;
  padding: 10px 15px;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @media (max-width: ($vp-1024 - 1px)) {
    display: none;
  }
}
