.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    padding: 145px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    margin-left: -17px;
    padding: 40px;

    background-color: $color-deep-sky-blue;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 18px;
    right: 14px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
}

.modal__description {
  width: 90%;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.modal__form-field {
  &--name,
  &--tel {
    margin-bottom: 20px;
  }

  &--button {
    margin-bottom: 10px;
  }

  &--user-question {
    margin-bottom: 16px;
  }

  &--checkbox {
    position: relative;
  }
}

.modal__form-field input {
  width: 100%;
  padding: 15px;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 22px;
  background-color: $color-swamp;
  border: none;

  &::placeholder {
    color: $color-default-white;
  }
}

.modal__form-field textarea {
  width: 100%;
  min-height: 155px;
  padding: 20px 15px;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 22px;
  background-color: $color-swamp;
  border: none;

  &::placeholder {
    color: $color-default-white;
  }
}

.modal__form-field button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  background-color: $color-black-pearl;
  border: none;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
}

.modal__form-field--checkbox label {
  padding-left: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  color: $color-default-white;
}

.modal__form-field--checkbox span {
  position: absolute;
  left: 9px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px $color-default-white;
  border-radius: 2px;
}

.modal__form-field--checkbox input:checked + span {
  background-image: url("/img/svg/form-checked.svg");
}

.modal__form-field--checkbox input:focus ~ label[for="modal-user-agreement"] {
  outline: 2px solid $color-default-black;
}
